/* You can add global styles to this file, and also import other style files */

// Theme Font
@import 'scss/themes/font/theme-font';

// main framework
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'scss/settings/custom-variables';
@import 'scss/settings/theme-variables';

// bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/dist/css/bootstrap.css';
@import 'scss/themes/general';
@import 'scss/themes/generic';
@import 'scss/themes/minixs/function';

// icon
@import 'scss/themes/font/datta-icon';
@import 'scss/themes/font/feather';
@import 'scss/themes/font/fontawesome';
@import 'scss/themes/font/flaticon';

// component
@import 'scss/themes/component/component';

// theme layouts
@import 'scss/themes/layouts/pc-footer.scss';
@import 'scss/themes/layouts/menu-lite';
@import 'scss/themes/layouts/menu-ng';

// dashboard
@import 'scss/themes/pages/dashboard.scss';
@import 'scss/themes/pages/authentication';

@import 'scss/themes/chat/chat';

// custom
@import 'scss/themes/custom';